.board {
  display: flex;
  flex-wrap: wrap;
  background-color: green;
  width: 800px;
  height: 800px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  height: 100px;
  width: 100px;
}

.cell {
  position: relative;
}

.W::before {
  background-color: #fff;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.B::before {
  background-color: #000;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.valid-move {
  position: relative;
}

.valid-move::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
}
